{% extends "homeless/layout.html" %}
{% load static %}

  {% block title %}
  {% endblock %}

  {% block body %}
<!--Body Begin-->
<br>
  <center><h1 class="uk-heading-small">PEOPLE</h1></center>
  <br>
  <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
      <div>
          <a href="{% url 'infra' %}"><div class="uk-card uk-card-default uk-card-body">
              <h3 class="uk-card-title">Infrastructure</h3>
              <p>For the place you live in.</p>
          </div></a>
      </div>
      <div>
          <a href="#"><div class="uk-card uk-card-primary uk-card-body">
              <h3 class="uk-card-title">Education</h3>
              <p>For the quality of Education.</p>
          </div></a>
      </div>
      <div>
          <a href="#"><div class="uk-card uk-card-secondary uk-card-body">
              <h3 class="uk-card-title">Healthcare</h3>
              <p>In your bad times.</p>
          </div></a>
      </div>
  </div>
<!--Body End-->

  {% endblock %}
